$font-size-base: 18px;
$font-family-base: "Roboto Condensed", Helvetica, Arial, sans-serif;
$heading-font-family-base: Montserrat, Helvetica, Arial, sans-serif;
$font-line-height: 20/18;
$primary-color: #c17851;
$secondary-color: #9b3030;
