<footer class="site__footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="site__footer-content text-centeer">
          <p>&copy; {{ site.time | date: '%Y'}} &ndash; {{ site.title }}. All rights reserved.</p>

          <ul class="list-inline site__footer-social">
            <li><a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">Facebook</a></li>
            <li><a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a></li>
            <li><a href="https://twitter.com/@{{ site.twitter_username }}" target="_blank">Twitter</a></li>
          </ul>

          <ul class="list-inline site__footer-showcase">
            <li><a href="mailto:ruby@preciousredstone.com">ruby@preciousredstone.com</a></li>
          {% comment %}
            <li><a href="{{ '/gallery' | prepend: site.baseurl }}">Gallery</a></li>
            <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            <li><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
            <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS feed</a></li>
          {% endcomment %}
          </ul>
        </div>

        <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
      </div>
    </div>
  </div>
</footer>

<!--{ include gtm.html }-->
