<header class="site_masthead">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 site_masthead-title-container">
        {% if page.class == 'home' %}
          <h1 class="site_masthead-title">{{ site.title }}</h1>
        {% else %}
          <a class="site_masthead-anchor" rel="home" href="/">
            <h1 class="site_masthead-title">{{ site.title }}</h1>
          </a>
        {% endif %}

          <ul class="site_nav">
            <li class="site_nav-item">
              <a href="#gallery">Gallery</a>
            </li>
            <li class="site_nav-item">
              <a href="#hire">Contact</a>
            </li>
            {% comment %}
            <li class="site_nav-item site_nav-item--social">
              <a class="icon icon--instagram" target="_blank" href="https://instagram.com/@{{ site.instagram.username }}">{% include icon-instagram.svg %}</a>
            </li>
            <li class="site_nav-item site_nav-item--social">
              <a class="icon facebook" target="_blank" href="https://facebook.com/{{ site.facebook.username }}">{% include icon-facebook.svg %}</a>
            </li>
            {% endcomment %}
          </ul>
      </div>
    </div>
  </div>
</header>
