// Custom styling and overrides

body {
  &.no-scroll {
    overflow: hidden;
  }
}

a {
  color: darken($brand-pink, 10%);

  &:hover,
  &:active {
    color: darken($brand-pink, 20%);
  }
}

b,
strong,
.lead {
  font-weight: 500;
  line-height: inherit;
}

blockquote {
  color: $brand-pink;
  background-color: $brand-pink-light;
  margin-top: 10px;
}

pre {
  background-color: $brand-pink-light;
  border: none;
}

.invert {
  background-color: $brand-pink-light;
  color: #333;
}
