
.site_masthead {
  background-image: url(../images/henna-face-paint-by-ruby.jpg);
  background-repeat: no-repeat;
  background-position: top 65% center;
  background-size: cover;
  min-height: 250px;

  @media (min-width: $screen-xs) {
    min-height: 350px;
  }

  @media (min-width: $screen-md) {
    min-height: 450px;
    background-image: url(../images/henna-face-paint-by-ruby-large.jpg);
  }
}

.site_masthead-title {
  width: 50%;
  height: 50px;
  color: inherit;
  font-size: 0px;
  font-weight: normal;
  display: inline-block;
  padding-top: 0;
  background: {
    image: url(../images/prs-art-gallery-logo.png);
    size: 100%;
    repeat: no-repeat;
    position: left 0 top 50%;
  }

  @media (min-width: $screen-xs) {
    width: 256px;
    height: 80px;
    padding-top: 5px;
  }
}

.site_masthead--right {
  @extend .text-right;

  .site_masthead-title {
    background-position: left 100% top 50%;
    padding: {
      right: 85px;
      left: 0;
    }
  }
}

.site_masthead-anchor {
  color: inherit;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

.masthead {
  @media (min-width: $screen-xs) {
    margin-top: -75px;
    background: #fff;
    padding: 5px 25px;
    min-height: 350px;
    box-shadow: 0 -7px 8px rgba(0, 0, 0, .2);
  }
}

.hire,
.gallery,
.masthead {
  &_heading {
    //color: #333;
  }

  &_subheading {
    @extend h4;
    color: $brand-pink;
  }
}

.gallery_image_holder {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 230px;
  min-height: 230px;
  width: 100%;
  height: auto;
  margin-right: 3px;
  cursor: pointer;

  @media (min-width: $screen-sm) {
    max-width: 230px;
  }
}

.gallery_image {
  margin-bottom: 10px;
  cursor: pointer;

  @media (min-width: $screen-xs-min) {
    max-width: 230px;
    display: inline-block;
    margin-bottom: 5px;
  }

  @media (min-width: $screen-md) {
    max-width: 275px;
  }

  &--interactive {
    background-color: black;
    transition: opacity 200ms linear;

    &:hover,
    &:focus,
    &:active {
      opacity: .65;
    }
  }
}

.gallery_lightbox {
  position: fixed;
  display: block;
  background-color: rgba(black, .8);
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;

  &--hidden {
    display: none;
  }

  &_image {
    position: relative;
    display: block;
    margin: 20px auto;
    padding: 0 20px;
    z-index: 4;

    .gallery_image {
      position: relative;
      margin: 10px auto;
      max-width: 100%;
      margin-bottom: inherit;
      display: block;
      border: 5px solid rgba(white, .9);
      border-radius: 5px;
      cursor: default;
    }
  }

  &_close {
    border-radius: 100%;
    position: absolute;
    background-color: #333;
    border: 1px solid;
    color: #fff;
    line-height: 1.1;
    font-size: 28px;
    margin: auto;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    z-index: 6;
    box-shadow: #333 1px 1px 5px;
    transition: background-color 200ms ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      color: #333;
      border-color: #333;
    }
  }
}
