---
layout: default
---
<div class="article">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <article itemscope itemtype="http://schema.org/BlogPosting">

          <header class="article__header">
            <h1 class="article__title" itemprop="name headline">{{ page.title }}</h1>
            <p class="article__meta">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_long_string }}</time>

              {% if page.author and page.private != true %}
                &bull; <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span></span>
              {% endif %}
          </header>

          <div class="article__content" itemprop="articleBody">
            {{ content }}
          </div>

        </article>

        <!--% include disqus.html %-->

      </div>
    </div>
  </div>
</div>
